body{
    font-family: 'Montserrat', sans-serif;
}

.navbarWidth{
    width: 100%
}

.buttonNavbar{
    color: black;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    display: inline;
    background-image: linear-gradient(#fcaf3b, #fcaf3b);
    background-size: 0% 3px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background 0.3s linear;
}
.buttonNavbar:hover{
    background-size: 100% 3px;
    color: black;
}

.bgBlack{
    background-color: rgba(0, 0, 0, .5) !important;
}

.firstPart{
    background-image: url("img/bgFSI.jpg");
    background-position: center;
    background-size: cover;
}
.topbar{
    background-color: white;
}


.headerFSI{
    height: 80vh;
}
.descriptionFSI{
    font-size: 20px;
}


.containerPresentationPerso{
    display: inline-block;
    width: auto !important;
    border-radius: 10px;
}
.h2presentation{
    text-transform: uppercase;
}
.imgPresentation{
    border-radius: 10px;
}
.textePresentation{
    width: 500px;
    font-size: 1.3rem;
}

.titreFormations{
    text-transform: uppercase;
    border-radius: 10px;
    background-color: white;
}

.titreCarte{
    text-transform: uppercase;
}
.boutonFormations{
    width: 100%;
    text-transform: uppercase;
}

.containerCarousel{
    border: 4px black solid !important;
}






